@model LearnDotNetCoreMVC.Models.Entities.User
@{
    ViewData["Title"] = "Login Page";
    Layout = "_LayoutNotLogged";


    string HasrError = (string)(ViewData["HasError"] ?? "null");
    string MessageResponse = (string)(ViewData["MessageResponse"] ?? "");
}

@if (MessageResponse.Length > 0)
{
    <!-- Modal -->
    <div class="modal fade" id="ResponseModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="ResponseModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="blue bigger">Response</h4>
                </div>
                <div class="modal-body">
                    <h5>@MessageResponse</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">


            <h4 class="header blue lighter bigger">
                Authentification
            </h4>

            <div class="space-6"></div>

            <form method="post" asp-route="loginRequest">
                <fieldset>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <i class="ace-icon fa fa-user"></i>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </span>
                    </label>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <i class="ace-icon fa fa-eye toggle-password"></i>
                            <input asp-for="PassWord" class="form-control" placeholder="PassWord" />
                        </span>
                        <span asp-validation-for="PassWord" class="text-danger"></span>
                    </label>

                    <div class="space"></div>


                    <div class="clearfix">
                        <button type="submit" class="pull-right btn btn-white btn-primary btn-bold" id="authentifier">
                            <span class="bigger-110">S'authentifier</span>
                        </button>
                    </div>

                </fieldset>
            </form>

        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->


@section Scripts {
    <script type="text/javascript" src="~/js/Auths/login.js" defer></script>
}