@{ 

    string MessageResponse = (string)(ViewData["MessageResponse"] ?? "");
}
@if (MessageResponse.Length > 0)
{
<div class="modal fade" id="ResponseModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="ResponseModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Response</h4>
            </div>
            <div class="modal-body">
                <h5>@MessageResponse</h5>
            </div>
            <div class="modal-footer"> 
                <a id="btnClose" class="btn btn-secondary">Close</a>
            </div>
        </div>
    </div> 
</div>

<script defer>
    let btnClose = document.getElementById("btnClose");
    btnClose.setAttribute("href", location.origin + location.pathname)
    console.log(location.pathname.split("/")[1], location)
</script>
}



